
.hide {
    display: none !important;
}

.chat-whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100000;
}

.chat-whatsapp img {
    height: 70px;
}

.revo-slider-emphasis-text {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: 'Raleway', sans-serif;
    padding: 15px 20px;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

.revo-slider-desc-text {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 650px;
    text-align: center;
    line-height: 1.5;
}

.revo-slider-caps-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
}
.tp-video-play-button { display: none !important; }

.tp-caption { white-space: nowrap; }

.home-address {
    font-size: 18px;
    text-align: center;
}

.border-top {
    border-top: 1px solid #E5E5E5;
    padding: 30px;
}

.layanan-unggulan {
    margin-top: 0 !important;
}

.modal-promo-home-block {
    background-color: #FFF;
    max-width: 500px;
}
.modal-promo-home-wrapper {
    margin-top: 100px
}
.modal-promo-home-footer {
    padding: 10px;
}
.owl-stage-outer {
    height: 160px !important;
}

.has-error .help-block {
    color: #a5360f;
}

@media (min-width: 0px) {
    #top-bar {
        display: none;
    }
    .modal-promo-home-sign {
        position: absolute;
        top: -150px;
        left: 0
    }
}
@media (min-width: 576px) {
    #top-bar {
        display: none;
    }
    .modal-promo-home-sign {
        position: absolute;
        top: -150px;
        left: 0
    }
}

@media (min-width: 768px) {
    #top-bar {
        display: none;
    }
    .modal-promo-home-sign {
        position: absolute;
        top: -150px;
        left: 0
    }
}

@media (min-width: 992px) {
    #top-bar {
        display: block;
    }
    .modal-promo-home-sign {
        position: absolute;
        top: -250px;
        left: 0
    }
}

@media (min-width: 1200px) {
    #top-bar {
        display: block;
    }
    .modal-promo-home-sign {
        position: absolute;
        top: -200px;
        left: 0
    }
}